@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240, 4%, 9%, 1;
    --foreground: 0, 0%, 100%, 1;
    --sidebar-background: 0, 0%, 5%;
    --sidebar-foreground: 0, 0%, 100%, 1;
    --primary-foreground: 0, 0%, 100%;
    --primary: 0 0% 14%;
    --border: 0, 0%, 35%, 1;
    --secondary-border: 77, 73%, 68%, 1;
    --secondary-foreground: 77, 100%, 75%, 0.99;
    --secondary-background: 80, 6%, 10%;
    --card-background: 210, 3%, 14%;
    --card-foreground: 0, 0%, 73%, 1;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }
}
